@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --primary-color: #131929;
  --secondary-color: #d4b927;
}

.login-form label {
  color: #fff !important;
}

.layout .ant-menu-item {
  margin: 0 !important;
  border-radius: 0;
}

.ant-menu-item-selected {
  background-color: #272e41 !important;
}

.login-form .ant-btn-primary {
  background-color: var(--secondary-color) !important;
  color: #000;
  &:hover {
    background-color: #bca213 !important;
  }
}
.login-form .ant-btn-default {
  background-color: transparent !important;
  color: #fff;
  border: 1px solid #bca213;
  &:hover {
    color: #bca213 !important;
    border: 1px solid #bca213 !important;
  }
}